# misc folders
misc

# simulation files and temporary files
*.vcd
temp.txt
## verilator simulation directory and sim files
obj_dir

## roadmap for individual IP cores
roadmap

# yosys synthesis files
synth

# quartus files and folders
proj
*/fpga/*
*Synth.cmd
*Synth.tcl